<div class="bodyhome">
    <div class="sections">
        <div class="sec"></div>
        <div class="sec"></div>
        <div class="sec"></div>
    </div>
    <div class="space">
        <h2>RoleHunter conecta marcas con talento creativo</h2>
    </div>
    <div class="imagesall">
        <div class="card">
            <img class="card-img-top" src="assets/images/vista.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/images/mime.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/images/diferentes.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="assets/images/vista.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/images/mime.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/images/diferentes.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
</div>