<div class="userScreen">
	<div class="centered">
		<div class="content">
			<div class="boxbig">
				<div class="content">


					 <form action="" [formGroup]="inscription" (ngSubmit)="newhandleSend()">
						<div class="form-control">
							<label for="nombre">Nombre</label>
							<input type="text" id="nombre" formControlName="nombre">
						</div>
						<div class="form-control">
							<label for="apellido">Apellido</label>
							<input type="text" id="apellido" formControlName="apellido">
						</div>
                        <div class="form-control">
							<label for="correo">Correo</label>
							<input type="text" id="email" formControlName="correo">
						</div>
						<div class="form-control">
							<label for="password">Password</label>
							<input type="password" id="password" formControlName="password" >
						</div>
						<div class="form-control">
							<label for="confirm">Confirmar password</label>
							<input type="password" id="confirm" formControlName="confirm">
						</div>
						<div>
							<button type="submit" [disabled]="inscription.invalid">Enviar</button>
						</div>
					</form> 
				
				</div>
			</div>

			<div class="buttons vertical centered">


			</div>
		</div>
	</div>
</div>
