<div class="userScreen">
	<div class="centered">
		<div class="content">
			<div class="boxbig">
				<div class="content">


					 <form action="" [formGroup]="inscription" (ngSubmit)="newhandleSend()">
						<div class="form-control">
							<label for="name">Nombre</label>
							<input type="text" id="name" formControlName="name">
						</div>
                        <div class="form-control">
							<label for="email">Correo</label>
							<input type="text" id="email" formControlName="email">
						</div>
						<div class="form-control">
							<label for="passw">Password</label>
							<input type="text" id="passw" formControlName="passw">
						</div>
						<div class="form-control">
							<label for="confirm">Confirmar password</label>
							<input type="text" id="confirm" formControlName="confirm">
						</div>
						<div>
							<button type="submit" [disabled]="inscription.invalid">Enviar</button>
						</div>
					</form> 
				
				</div>
			</div>

			<div class="buttons vertical centered">


			</div>
		</div>
	</div>
</div>
