<div class="proyectos">
    <div class="card">
        <img src="assets/images/home.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
                content.</p>
        </div>
        <div class="datesproyect">
            <div class="searchar">
                <h6>Datos del proyecto</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Publicado el 6 de Noviembre de 2025</li>
                    <li class="list-group-item">Madrid, a Coruña, asturias y 2+</li>
                    <li class="list-group-item">Trabajo remunerado económicamente</li>
                </ul>
            </div>
            <div class="discoverart">
                <h6>Datos del artista</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Sólo para mujeres</li>
                    <li class="list-group-item">Sin requisitos de altura</li>
                    <li class="list-group-item">Entre 18 y 32 años</li>
                </ul>
            </div>
        </div>

        <div class="description">Detalles del proyecto:<br>
            <br>
            Ubicación: Madrid capital (zona Retiro).<br>
            <br>
            Fechas: Durante el mes de enero de 2026 (fechas flexibles a coordinar).<br>
            <br>
            Duración: Mínimo media jornada (aprox. 4-6 horas).<br>
            <br>
            Compensación: Caché a negociar <br>
            <br>
            Estilismo: Habrá varios cambios de estilismo.<br>
            <br>
            Uso de las imágenes: Las fotos se utilizarán para lanzar un curso online de iluminación y retoque
            fotográfico, además de para redes sociales y portfolio.<br>
            <br>
            Se firmará un contrato de cesión de derechos de imagen claro y profesional (modelo estándar, con detalles
            sobre usos exclusivos y duración).<br>
            <br>
            Requisitos:<br>
            <br>
            18 a 32 años.<br>
            Puntualidad y compromiso.<br>
            Flexibilidad para desplazarse.<div class="pills margin_top_double"></div>
        </div>
    </div>
</div>