<div class="proyectos">
    <div class="card">
        <img src="assets/images/home.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title " >{{proyecto.titulo}}</h5>
            <p class="card-text">Descripcion del proyecto.</p>
        </div>
        <div class="datesproyect">
            <div class="searchar">
                <h5>Datos del proyecto</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" ><strong>Fecha: </strong>{{ proyecto.fechas }}</li>
                    <li class="list-group-item" ><strong>Lugar: </strong>{{proyecto.lugar}}</li>
                    <li class="list-group-item" ><strong>Remunerado: </strong>{{proyecto.remunerado}}</li>

                </ul>
            </div>
            <div class="discoverart">
                <h5>Datos del artista</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" ><strong>Sexo: </strong>{{proyecto.sexartist}}</li>
                    <li class="list-group-item"><strong>Altura: </strong>{{proyecto.altura}}</li>
                    <li class="list-group-item"><strong>Edad: </strong>{{proyecto.edad}}</li>
                </ul>
            </div>
        </div>

        <div class="description">Detalles del proyecto:<br>
            <br>
            Ubicación: Madrid capital (zona Retiro).<br>
            <br>
            Fechas: Durante el mes de enero de 2026 (fechas flexibles a coordinar).<br>
            <br>
            Duración: Mínimo media jornada (aprox. 4-6 horas).<br>
            <br>
            Compensación: Caché a negociar <br>
            <br>
            Estilismo: Habrá varios cambios de estilismo.<br>
            <br>
            Uso de las imágenes: Las fotos se utilizarán para lanzar un curso online de iluminación y retoque
            fotográfico, además de para redes sociales y portfolio.<br>
            <br>
            Se firmará un contrato de cesión de derechos de imagen claro y profesional (modelo estándar, con detalles
            sobre usos exclusivos y duración).<br>
            <br>
           <div class="pills margin_top_double"></div>
        </div>
    </div>

