//MENU
.navbar {
    .navbar-nav {
        width: 100%;
        justify-content: space-evenly;
    }

    .register {

        ul {
            display: flex;

            li {
                padding: 0 .5rem;
            }
        }
    }
}


//BODY DEL HOME


.bodyhome {
    padding: .25rem;
    height: 100%;
    width: 100%;

    .sections {
        height: 18rem;
        background-color: rgb(162, 199, 204);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .sec {
            border: solid .1px;
            height: 18rem;
            overflow: hidden;
        }
    }

    .space {
        padding: 2rem 0;
        text-align: center;
        max-width: 40rem;
        margin: auto;
        height: 15rem;
        margin-top: 2rem;

        h2 {
            color: rgb(69, 69, 228);
            font-weight: 700;
            font-size: 2.5rem;
        }

    }

    .imagesall {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        .card {
            overflow: hidden;
            margin: auto;
            max-width: 25rem;
            width: 20rem;

            img {
                object-fit: cover;
                height: 18rem;
            }
        }
    }
}

//ACTOR
.bodyroom1 {
    height: calc(100% - 6rem);
    background-color: rgb(59, 53, 53);
    padding: 2rem;

}

//FORMULARIO

.userScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0A1A2F;

    .centered {
        max-width: 35rem;
        position: relative;
        padding: 1.25rem;
        width: 100%;
        margin: 0 auto;

        .content {
            text-align: center;
            text-wrap: balance;

            .boxbig {
                text-align: center;
                text-wrap: balance;
                overflow: hidden;
                position: relative;
                border-radius: var(--rounded_corners_radius_fatter);
                border: solid hsl(from var(--neutral_1) h s l / 0.15) 1px;
                box-shadow: 0 5px 8px hsl(from var(--neutral_1) h s l / 0.06);
                margin-top: 2rem;



                .content {
                    padding: 10px;
                    overflow: hidden;
                    border: solid 0.25rem;
                    box-shadow: 0 0.3125rem 0.5rem hsl(0, 0%, 0%);
                    border: solid 0.4rem gray;
                    border-radius: 1rem;
                    background-color: #cedce7;

                    input {
                        width: 100%;
                        margin-bottom: .625rem;
                        padding: .5rem;
                        border-radius: .5rem;

                    }


                }
            }

            .deleteUser {
                border: solid 0.4rem gray;
                padding: 1rem;
                margin-top: 4rem;
                background-color: #cedce7;
                border-radius: 1rem;

                .form-control {
                    padding: .75rem .75rem;
                }
            }
        }
    }
}


//PROYECTOS

.proyectos {
    padding: 2rem 0;
    background-color: #0A1A2F;
    width: 100%;
    .card {
        width: 45rem;
        margin: 2rem auto;
        display: flex;
        overflow: hidden;
        border-radius: 1rem;
        border: solid 0.4rem gray;

        img {
            height: 50vh;
            object-fit: contain;
            background-color: #a2a2a2;
        }

        .card-body {
            text-align: center;
            background-color: #accfcf;
        }

        .datesproyect {

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5rem;
            padding: 3rem;
            text-align: center;

            h5 {
                color: rgb(180, 42, 7);
            }
        }

        .description {
            padding: 1rem 3rem;
            border: solid .01rem;
            border-color: #e9fbfb;
            border-top-color: #a2a2a2;
            border-top: solid .01rem;
        }

        li {
            list-style: none;
        }
    }
}